#ad_frame {
  background-color:white;
  border: solid 1px #000;
  width: 80vw;
  height: 45vw;
  margin: 10px auto 5px auto;
  font-size: 2vw;
  position: relative;
  background-image: url("../images/ad-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
#ad_frame .text {
  position: absolute;
  font-family: "Atma", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  color: white;
  padding: 0;
  margin: 0;
}
#ad_frame .text span {
  padding: 0;
  margin: 0;
}
#ad_frame .text span.label {
  display: block;
  font-size: 1.5vw;
  margin: .2vw;
  padding: 0;
  font-family: "Atma", cursive;
}
#ad_frame .text span.by {
  font-size: 1.5vw;
}
#ad_frame #glamour {
  border: solid 1px #000;
  width: 70vw;
  height: 40vw;
  margin: 2vw auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#ad_frame div {
  border: dotted 3px rgba(0, 0, 0, .4);
  /*border-color:#888 #333 #000 #666;*/
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, .2);
}
#ad_frame #call {
  background-color:rgb(83,131,236);
  width: 25vw;
  height: 4vw;
  top: 2vw;
  left: -10px;
  padding: .4vw 5px;
  transform: rotate(-15deg);
}
#ad_frame #picktune {
  background-color: #F3AF56;
  width: 25vw;
  height: 5.5vw;
  top: 37vw;
  left: 56vw;
  padding: .8vw 0 0 0;
  transform: rotate(-15deg);
  line-height: .9em;
  color: #595959;
}
#ad_frame #car {
  background-color: #48752C;
  width: 30vw;
  height: 4vw;
  top: 39vw;
  left: -1vw;
  padding: .2vw 0;
  transform: rotate(15deg);
  text-wrap: nowrap;
}
#ad_frame #car span {
  font-size: 1.8vw;
}
#ad_frame #code {
  background-color: #634FA2;
  width: 25vw;
  height: 5vw;
  top: 2vw;
  left: 55vw;
  padding: 0;
  transform: rotate(15deg);
  line-height: .9em;
  font-family: monospace;
}
#ad_frame #tunename {
  background-color: #706694;
  width: 15vw;
  height: 3.8vw;
  top: 7.5vw;
  left: 59vw;
  padding: 1vw 0;
  transform: rotate(15deg);
  line-height: .9em;
}
#ad_frame #class {
  background-color: #334524;
  width: 10vw;
  height: 5vw;
  top: 30vw;
  left: 60vw;
  padding: 0;
  transform: rotate(-2deg);
  line-height: .9em;
}
li.car:hover {
  background-color: #DDDDFF !important;
  color: #000 !important;
}