#ad_frame {
  background-color:white;
  border: solid 1px #000;
  width: 1080px;
  height: 720px;
  margin: 50px auto 5px auto;
  font-size: 28pt;
  position: relative;
  background-image: url("../images/ad-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
#ad_frame .text {
  position: absolute;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  color: white;
  padding: 0;
  margin: 0;
}
#ad_frame .text span {
  padding: 0;
  margin: 0;
}
#ad_frame .text span.label {
  display: block;
  font-size: 80%;
  margin: 5px;
}
#ad_frame .text span.by {
  font-size: 80%;
}
#ad_frame #glamour {
  border: solid 1px #000;
  width: 80%;
  height: 80%;
  margin: 6% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#ad_frame div {
  border: dotted 3px rgba(0, 0, 0, .4);
  /*border-color:#888 #333 #000 #666;*/
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, .2);
}
#ad_frame #call {
  background-color:rgb(83,131,236);
  width: 10em;
  height: 1.8em;
  top: 30px;
  left: -10px;
  padding: auto;
  transform: rotate(-15deg);
}
#ad_frame #picktune {
  background-color: #F3AF56;
  width: 15em;
  height: 2.5em;
  top: 580px;
  left: 580px;
  padding: 15px 0 0 0;
  transform: rotate(-15deg);
  line-height: .7em;
  color: #595959;
}
#ad_frame #car {
  background-color: #48752C;
  width: 10em;
  height: 1.8em;
  top: 600px;
  left: -10px;
  padding: auto;
  transform: rotate(15deg);
  text-wrap: nowrap;
}
#ad_frame #car span {
  font-size: 1.5vw;
}
#ad_frame #code {
  background-color: #634FA2;
  width: 10em;
  height: 2.2em;
  top: 30px;
  left: 700px;
  padding: auto;
  transform: rotate(15deg);
  line-height: .7em;
}