<input type="text" id="searchInput" placeholder="Search for cars..." onkeyup="filterCars()" style="width:100%;">
<button class="dib ph3 mv0 white bg-blue br2" onclick="randoCar()">rando</button>
<label class="dib ph3 mv0 white bg-blue br2" for="locked-toggle">
<input type="checkbox" id="locked-toggle" class="mr2" onchange="filterCars()" checked>
locked</label>
<label class="dib ph3 mv0 white bg-blue br2" for="used-toggle">
<input type="checkbox" id="used-toggle" class="mr2" onchange="filterCars()" checked>
used</label>
<label class="dib ph3 mv0 white bg-blue br2" for="trike-toggle">
<input type="checkbox" id="trike-toggle" class="mr2" onchange="filterCars()" checked>
trikes</label>
<button class="dib ph3 mv0 white bg-blue br2" onclick="reset_cars()">reset</button>
<span id="count"></span>
<ul id="carList" style="list-style-type:none;width:100%" class="center cf ph4-ns mw7">
{{ range $.Site.Data.cars }}
    {{ $full := printf "%s" .model | printf "%s %s" .manufacturer | printf "%d %s" .year | printf "%s" }}
    {{ $car := . }}
    {{ $used := false }}
    {{ $racedate := "1970-01-01" }}
    {{ range where $.Site.RegularPages "Section" "race" }}
        {{ if eq .Params.car_id $car.id }}
            {{ $used = true }}
            {{ $racedate = .File.BaseFileName }}
            {{ break }}
        {{ end }}
    {{ end }}
    <li id="{{ replace $full " " "_" | lower }}{{ if $used }}_used{{ end }}" class="car{{ if not (isset . "autoshow") }} locked{{ end }}{{ if $used }} used{{ end }}{{ if eq .id 369 554 439 }} trike{{ end }}" style="display:block;">
        <a style="text-decoration: none; color:inherit;" href="https://www.kudosprime.com/fh5/car_sheet.php?id={{ .id }}">
            {{ if isset . "year" }}
                <span style="font-family:Consolas,menlo,monospace;font-size:.85em;">
                    {{ printf "%d" .year }}
                </span>
            {{ else }}
                <span style="font-family:Consolas,menlo,monospace;font-size:.85em">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            {{ end }}
            {{ if eq .id 369 554 439 }}
                <span title="Rasj Disapproves" style="font-family:Consolas,menlo,monospace;font-size:.85em">&#x1F6B3; </span>
            {{ end }}
            {{ if not (isset . "autoshow") }}
                <span title="Not in the Autoshow" style="font-family:Consolas,menlo,monospace;font-size:.85em">&#128274; </span>
            {{ end }}
            <span style="font-size:1em;color:#000;">{{ .manufacturer | safeHTML }}</span>
            <span style="font-size: 1em">{{ .model | safeHTML }}</span>
        </a>
        {{ if $used }}
        
        <span style="font-size:.8em; float:right; padding-left:2em;">
            Last Used,
            <a href="../race/{{ $racedate }}">
                {{ $racedate }}
            </a>
        </span>
        {{ end }}
    </li>
{{ end }}
</ul>
<script>
function reset_cars(){
    ul = document.getElementById("carList");
    li = ul.getElementsByTagName('li');
    Array.from(li).forEach(element => {
        element.style.display = "";
    });
    document.getElementById('locked-toggle').checked = true;
    document.getElementById('used-toggle').checked = true;
    document.getElementById('trike-toggle').checked = true;
}
function getCars(){
    ul = document.getElementById("carList");
    li = ul.getElementsByTagName('li');
}
function filterCars() {
    var i, txtValue, matches, locked, used, trike;
    let count = 0;
    const input = document.getElementById('searchInput');
    const filter = input.value.toLowerCase();
    const ul = document.getElementById("carList");
    const li = ul.getElementsByTagName('li');
    const lockedToggle = document.getElementById('locked-toggle');
    const usedToggle = document.getElementById('used-toggle');
    const trikeToggle = document.getElementById('trike-toggle');
    for (i = 0; i < li.length; i++) {
        locked = !(!lockedToggle.checked && li[i].classList.contains('locked'));
        used = !(!usedToggle.checked && li[i].classList.contains('used'));
        trike = !(!trikeToggle.checked && li[i].classList.contains('trike'));
        txtValue = li[i].id.replaceAll("_", " ");
        if (txtValue.length > 0) {
            matches = (txtValue.toLowerCase().indexOf(filter) > -1);
        } else {
            matches = true;
        }
        if (locked && used && trike && matches) {
            li[i].style.display = "";
            count++
        } else {
            li[i].style.display = "none";
        }
    }
    document.getElementById('count').innerHTML = "("+count+")";
}
function randoCar() {
    const ul = document.getElementById("carList");
    const li = ul.getElementsByTagName('li');
    const goodCars = [];
    const lockedToggle = document.getElementById('locked-toggle');
    const usedToggle = document.getElementById('used-toggle');
    const trikeToggle = document.getElementById('trike-toggle');
    for (i = 0; i < li.length; i++) {
        locked = !(!lockedToggle.checked && li[i].classList.contains('locked'));
        used = !(!usedToggle.checked && li[i].classList.contains('used'));
        trike = !(!trikeToggle.checked && li[i].classList.contains('trike'));
        if (locked && used && trike) {
            goodCars.push(li[i]);
        }
    }
    pick = Math.floor(Math.random() * goodCars.length);
    for (i = 0; i < goodCars.length; i++) {
        txtValue = goodCars[i].id;
        if (i == pick) {
            goodCars[i].style.display = "";
        } else {
            goodCars[i].style.display = "none";
        }
    }
    document.getElementById('count').innerHTML = "(1 rando)";
}
</script>
