<ul style="list-style-type: none">
{{ range $.Site.Data.cars }}
    <li>
	<span style="font-size: 1em" id="{{ replace .name " " "_" | lower }}">
		<i class="fas fa-exclamation-circle"></i>
		{{ .name }}</span>
	{{ if isset . "year" }}
        <span style="font-family: Consolas, menlo, monospace; font-size: .85em">
			<i class="fas fa-tools"></i>
			{{ .year }}
		</span>
	{{ end }}
    {{ $car := . }}
    {{ range where $.Site.RegularPages "Section" "race" }}
        {{ if strings.Contains .Params.car $car.name }}
            Last Used,
            <a href="../race/{{ .File.BaseFileName }}">
                <i class="fa fa-chart-bar"></i>
                {{ .File.BaseFileName }}
            </a>
        {{ end }}
    {{ end }}
    </li>
{{ end }}
</ul>
